<div>
    <h2>{{ data.title || title }}</h2>
    <hr/>
    <p>{{ data.text || text }}</p>
    <hr/>
    <div class="d-flex justify-content-end">
        <button
        mat-raised-button
        [color]="data.buttons.reject.type"
        (click)="onReject()"
        >{{ data.buttons.reject.text || buttons.reject.text }}
        </button>

        <button
        mat-raised-button
        [color]="data.buttons.confirm.type"
        class="ml-2"
        (click)="onConfirm()"
        >{{ data.buttons.confirm.text || buttons.confirm.text }}
        </button>
    </div>
</div>
